<div class="col-10 offset-1">
  <h1 class="about">About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/KD33">Kadeem</a>
    A gold level Tracer/Zarya main.  You can find him in a 4 stack with his friends
    or playing a game of 8 man FFA
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
  </div>

</div>

<!--Doesn't give the space I want -->
<br class="clear" />
<br />
<br />
<br />
<br />
